.createtodo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}
.input{
    background-color: #eeeeef;
    border-radius: 20px;
    border-style: dotted;
    border-color:#eeeeef;
    color: black;
    text-align: center;
    padding-top: 5px;
        
}
.btniconadd{
    background-color: transparent;
    border-style: hidden;
}
